/* IMPORTAÇÃO DAS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.container_pai {
  width: 100%;
  height: 2200px;
  background-image: url(../assets/images/fundoTheRanch.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR - INÍCIO */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a1513;
  height: 70px;
}

#selecionado {
  text-decoration: underline;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 70px;
  width: 45%;
  list-style-type: none;
}

nav ul a {
  color: white;
  text-decoration: none;
  border: none;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 90%;
}

.icone_perfil img {
    width: 50%
}

.logo_nav img {
  width: 100px;
  margin-top: -20px;
  margin-left: 15px;
}

/* NAVBAR - FIM */

/* DASHBOARD - INÍCIO */

.titulo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #1a1513;
}

.kpi {
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpiPontos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 40%;
    height: 90%;
    margin: 2%;
    background-color: #1a1513;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px black;
}

.kpiPontos h2 {
    width: 80%;
    margin-top: 2%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.kpiPontos img {
    width: 7%;
}

.kpiPontos p {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.ouro {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
}
.prata {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
}
.bronze {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
}


.kpiEstilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 40%;
    height: 90%;
    margin: 2%;
    background-color: #1a1513;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px black;
}

.kpiEstilo h2 {
    width: 60%;
    margin-top: 2%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.kpiEstilo p {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    width: 60%;
    margin-top: 7%;
    font-size: 50px;
    font-weight: 600;
}

.ranking {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking .grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 90%;
    margin-left: 1%;
    border-radius: 30px;
}

.ranking_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    height: 90%;
    margin-right: 1%;
    border-radius: 30px;
}

.ranking_texto img {
    width: 100%;
}

.estilos {
    width: 100%;
    height: 30%;
    margin-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estilos_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 90%;
    margin-left: 1%;
    border-radius: 30px;
}

.estilos_texto img {
    width: 100%;
}

.estilos .grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 90%;
    margin-right: 1%;
    border-radius: 30px;
    background-color: #D9D5D1;
    box-shadow: 0px 0px 5px 0px black;
}

/* DASHBOARD - FIM */

/* INICIO FOOTER */

.footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100px;
  background-color: #1a1513;
}

.elementos_footer {
  display: flex;
  width: 100%;
  height: 100%;
}

.elemento_filho_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  align-items: center;
  padding-top: 25px;
}

.contatos {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.contatos div {
  display: flex;
  align-items: center;
  color: white;
}

.contatos img {
  height: 25px;
}

.contatos span {
  text-decoration: underline;
  margin-left: 10px;
}

.contatos p {
  font-size: 20px;
  margin-left: 10px;
  margin: 5px;
}

.localizacao img {
  height: 40px;
  margin-left: -60px;
}

.localizacao {
  display: flex;
  color: white;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.logo_footer {
  height: 120px;
  padding-top: 60px;
}

.copy {
  background-color: #1a1513;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  padding: 0 0 30px 0;
  font-weight: 700;
}

/* FIM FOOTER */