/* IMPORTAÇÃO DAS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.container_pai {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/fundoTheRanch.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR - INÍCIO */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a1513;
  height: 70px;
}

#selecionado {
  text-decoration: underline;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 70px;
  width: 45%;
  list-style-type: none;
}

nav ul a {
  color: white;
  text-decoration: none;
  border: none;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 90%;
}

.icone_perfil img {
    width: 50%
}

.logo_nav img {
  width: 100px;
  margin-top: -20px;
  margin-left: 15px;
}

/* NAVBAR - FIM */

/* CENTRO */

.centro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo {
  width: 100%;
  height: 90%;
  opacity: 40%;
}

.logo_perfil {
  position: absolute;
  width: 12%;
  padding-right: 40%;
  padding-bottom: 20%;
}

.informacoes {
  position: absolute;
  padding-left: 15%;
  margin-bottom: 10%;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  font-size: 70px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 4%;
}

.botao_sair {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #1a1513;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 5px 0px black;
}

.botao_sair:hover {
    transform: scale(1.1);
    cursor: pointer;
}