/* IMPORTAÇÃO DAS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.container_pai {
  width: 100%;
  height: 2500px;
  background-image: url(../../assets/images/fundoTheRanch.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR - INÍCIO */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a1513;
  height: 70px;
}

#selecionado {
  text-decoration: underline;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 70px;
  width: 45%;
  list-style-type: none;
}

nav ul a {
  color: white;
  text-decoration: none;
  border: none;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 90%;
}

.icone_perfil img {
    width: 50%
}

.logo_nav img {
  width: 100px;
  margin-top: -20px;
  margin-left: 15px;
}

/* NAVBAR - FIM */

/* HISTÓRIA */

.informacoes {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 4%;
    text-align: justify;
}

.banner_cantor {
    position: absolute;
    width: 90%;
    margin-top: 1%;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 20px;
}

.informacoes h3 {
  margin-top: 50%;
  font-size: 60px;
}

.informacoes .p1 {
    margin-top: 3%;
}

.nome {
  font-weight: 400;
  margin-top: 3%;
}

.nasc {
  font-weight: 400;
  margin-top: 4%;
}

.local_nasc {
  font-weight: 400;
  margin-top: 3%;
}

.atividade {
  font-weight: 400;
  margin-top: 3%;
}

.musicas {
  font-weight: 400;
  margin-top: 4%;
}

.informacoes h4 {
  font-size: 70px;
  margin-top: 15%;
  margin-left: 40%;
}

.hit {
  font-size: 35px;
  font-weight: 600;
  margin-top: 2%;
  margin-left: 40%;
}

.plataformas {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 40%;
  margin-top: 5%;
}

.plataformas img {
  width: 15%;
  height: 15%;
}

.plataformas .views {
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  font-weight: 500;
}
.plataformas .streams {
  position: absolute;
  margin-left: 5%;
  margin-top: 1%;
  font-weight: 500;
}

.cantor {
  margin-top: -28%;
  width: 35%;
  box-shadow: 0px 0px 20px 0px;
  border-radius: 10%;
}


/* INICIO FOOTER */

.footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100px;
  background-color: #1a1513;
}

.elementos_footer {
  display: flex;
  width: 100%;
  height: 100%;
}

.elemento_filho_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  align-items: center;
  padding-top: 25px;
}

.contatos {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.contatos div {
  display: flex;
  align-items: center;
  color: white;
}

.contatos img {
  height: 25px;
}

.contatos span {
  text-decoration: underline;
  margin-left: 10px;
}

.contatos p {
  font-size: 20px;
  margin-left: 10px;
  margin: 5px;
}

.localizacao img {
  height: 40px;
  margin-left: -60px;
}

.localizacao {
  display: flex;
  color: white;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.logo_footer {
  height: 120px;
  padding-top: 60px;
}

.copy {
  background-color: #1a1513;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  padding: 0 0 30px 0;
  font-weight: 700;
}

/* FIM FOOTER */